{% extends 'base.html.twig' %}

{% block stylesheets %} 
    {{ leogout_seo() }} 
    <style>

/* Add this CSS to your stylesheet */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width:700px;
}

.list-unstyled {
  width: 100%; /* Set the width of the list to 100% */
  padding: 0;
  list-style: none;
}

.cart-item {
  width: 100%; /* Set the width of each cart item to 100% */
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}

.cart-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.cart-price,
.cart-total {
  color: #555;
}

.invalid-feedback {
  color: #d9534f;
}

/* Optional: Style for hover effect */
.cart-item:hover {
  background-color: #f9f9f9;
}


        /* Add some basic styling */
        #container {
            position: relative;
        }

        #searchInput {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            margin-bottom: 5px;
        }

        #routeSelect {
            width: 100%;
        }

    </style>

{% endblock %}
{% block page %}

      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="/site/images/njiani-backdrop-banner.jpg">
          <div class="breadcrumbs-custom-body parallax-content">
            <div class="container">
              <h2 class="breadcrumbs-custom-title">Order Confirmation</h2>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{ path('app_default')}}">Home</a></li>
              <li><a href="#">Shop</a></li>
              <li class="active">Order Confirmation</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section checkout form-->
      <section class="section section-sm section-first bg-default text-md-left">
        <div class="container">
          <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="table-custom-responsive" style="margin-top:0;">
                    <div class="container cart-container">
                        <h3 class="font-weight-medium">Your shopping</h3>
                        <ul class="list-unstyled">
                        {% for item in cart.orderItems %}
                            <li class="cart-item">
                            <a href="{{ path('product_show', {'product_slug': item.product.slug}) }}" class="cart-figure">
                                <img src="/site/images/products/{{ item.product.images }}" alt="" width="58" height="132"/>
                            </a>
                            <div class="cart-details">
                                <a href="{{ path('product_show', {'product_slug': item.product.slug}) }}" class="cart-link">{{ item.product.productName }}</a>
                                <div class="cart-price">Each: KSh {{ item.product.price }}</div>
                                <div class="cart-quantity">
                                <div class="table-cart-stepper">
                                    Quantity: {{item.quantity}}
                                </div>
                                </div>
                                <div class="cart-total">Total: KSh {{ item.subTotal }}</div>
                            </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            


            </div>
            <div class="col-md-10 col-lg-6">
              <div class="table-custom-responsive">
                <div class="container cart-container">

                <h3 class="font-weight-medium">Shopping total</h3>
                <table class="table-custom table-custom-primary table-checkout">
                  <tbody>
                    <tr>
                      <td>Shopping Subtotal</td>
                      <td>KSh {{cart.total}}<br/>(Tax inclusive)</td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td><span id="shipping_cost">{{shipping}}</span></td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>KSh {{ cart.total + shipping}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Shopping Cart-->




{% endblock %}
