{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block page %}
      <section class="section section-xxl bg-default text-md-left">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <div class="inset-xl-right-50">
                <h3>Login form</h3>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <!-- RD Mailform-->

                <form class="rd-form" method="post">
                  <div class="form-wrap">
                    <input class="form-input" id="inputEmail"  type="email" name="email" value="{{ last_username }}" autocomplete="current-password" autofocus data-constraints="@Required">
                    <label class="form-label" for="inputEmail">Email</label>
                  </div>
                  <div class="form-wrap">
                    <input class="form-input" id="inputPassword" type="password" name="password" autocomplete="current-password" data-constraints="@Required">
                    <label class="form-label" for="inputPassword">Password</label>
                  </div>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                  <label class="checkbox-inline">
                    <input name="_remember_me" value="checkbox-1" type="checkbox">Remember Me
                  </label>
                  <div class="group-sm group-middle group-button-1">
                    <button class="button button-lg button-primary button-zakaria" type="submit">Sign In</button><a class="button button-lg button-secondary button-zakaria" href="{{ path('app_register') }}">Create an account</a>
                  </div>
                </form>
                <br /><br />
                <a style="color:black;" href="{{path('app_forgot_password_request')}}">Forgot Password?</a>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
{% block javascripts %}

{% endblock %}