{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block page %}
      <section class="section section-xxl bg-default text-md-left">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <div class="inset-xl-right-50">

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1>Register</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm, {'attr': {'class': 'rd-form'} }) }}
                    {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-input'} }) }}
                    {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-input'} }) }}
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-input'} }) }}
                    
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password', 'attr': {'class': 'form-input'}
                    }) }}
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'checkbox-inline'} }) }}

                    <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
{% block javascripts %}

{% endblock %}