{% extends 'base.html.twig' %}

{% block stylesheets %} {{ leogout_seo() }} {% endblock %}
{% block page %}
      <section class="section parallax-container section-custom-1" data-parallax-img="{{ asset('site/images/piano-yamaha-psr-e373.jpg') }}">
        <div class="parallax-content section-md text-left section-first-2 title-parallax">
          <div class="container">
            <div class="box-info-renee-decor"></div>
            <h1 class="box-info-renee-title wow fadeScale">Order Musical Instruments, Pay On Delivery, Get Expert Guidance</h1>
            <div class="box-info-renee-subtitle wow fadeInLeft" style="color:black;">Our music shop in Nairobi has a variety of instruments, ensuring you find the perfect instrument to match your musical aspirations. </div>
            <p class="box-info-renee-text wow fadeInRight" style="color:black;">Looking for keyboard piano prices in Nairobi? Wondering about the right size of violin, a perfect trumpet, or the best drum set? Need help finding the right size of guitar? Look no further! Besides prioritizing customer satisfaction, we also offer guidance to help you find the best instrument that will fit your needs.</p>
            <a class="link-classic box-info-renee-link wow fadeInUp" href="{{path('app_shop')}}">Shop Now</a>
          </div>
        </div>
      </section>
      <!-- Section-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center justify-content-md-between align-items-center">
            <div class="col-sm-5 col-md-4 col-lg-5 col-xl-7">
              <div class="slick-slider-2">
                <div class="slick-slider child-carousel" id="child-carousel-4" data-items="1" data-arrows="true" data-arrows-class=".custom-arrows" data-for="#carousel-parent-4">
                {% for prodDisplay in productdisplays %}                  
                  <div class="item"><img src="{{ asset('site/images/product_display/' ~ prodDisplay.path ) }}" alt="" width="209" height="584"/>
                  </div>
                {% endfor %}
                </div>
                <div class="custom-arrows"><span></span></div>
              </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
              <!-- Slick Carousel-->
              <div class="slick-slider carousel-parent" id="carousel-parent-4" data-items="1" data-autoplay="false" data-slide-effect="true" data-child="#child-carousel-4" data-for="#child-carousel-4">
                {% for prodDisplay in productdisplays %}
                <div class="item">
                  <!-- Product Beth-->
                  <article class="product-beth">
                    <div class="product-beth-badge">Featured</div>
                    <h2 class="product-beth-title"><a href="{{path('product_show', {'product_slug': prodDisplay.product.slug })}}">{{prodDisplay.product.productName}}</a></h2>
                    <h4 class="product-beth-subtitle">KSh{{prodDisplay.product.price|number_format(2)}}</h4>
                    <p class="product-beth-text box-1">{{prodDisplay.product.description|slice(0,400)|raw}}...</p>
                    <div class="group-md group-middle"><a class="button button-lg button-primary-2 button-zakaria" href="{{ path('product_show', {'product_slug': prodDisplay.product.slug }) }}">Learn more</a><a class="button button-lg button-default-outline button-zakaria" href="{{path('app_shop')}}">View all</a></div>
                  </article>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Us-->
      <section class="section section-xxl section-inset-3 text-sm-left bg-gray-13 bg-image" style="background-image: url({{asset('site/images/stentor-violin-1.jpg') }});">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9 box-about">
              <h2 class="title-style-9 wow fadeInRight">We Will Bring It, You Don't Have To Leave.</h2>
              <p class="wow fadeInRight box-2" data-wow-delay=".1s">Forget the hassle of traffic jams and crowded stores! Njiani Music Shop brings the music store experience right to your doorstep. Browse, compare, and choose your dream instrument from the comfort of your couch.</p>
              <p class="wow fadeInRight box-2" data-wow-delay=".2s">We make buying music instruments in Nairobi a breeze. Simply place your order online and choose the convenient "pay on delivery" option. No hidden fees, no fuss â€“ just pure musical joy delivered to your door.</p><img src="{{ asset('site/images/Njianimusicshop_logo_transparent.png') }}" alt="" width="330"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Top Products-->
      <section id="products" class="section section-xxl bg-gray-1">
        <div class="container">
          <h2 class="title-style-8 wow fadeScale">Top Products</h2>
          <div class="isotope-wrap">
            <div class="isotope-filters">
              <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-default-outline" data-custom-toggle=".isotope-filters-list" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
              <div class="isotope-filters-list-wrap">
                <ul class="isotope-filters-list">
                  <li><a class="active" href="#" data-isotope-filter="*">All</a></li>
                  {% for category in categories %}
                  <li><a href="#" data-isotope-filter="{{category.categoryName|replace({' ': '-'})}}">{{category.categoryName}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="row row-30 row-lg-50 isotope">
            {% for product in products %}
              <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="{{productProp is defined ? productProp : '' }}">
                <!-- Product-->
                <article class="product product-2 wow fadeInRight">
                  <div class="product-body">
                    <div class="product-figure"><a href="{{path('product_show', {'product_slug': product.slug })}}"><img src="{{ asset('site/images/products/' ~ product.images ) }}" alt="" width="144" height="199"/></a>
                    </div>
                    <h5 class="product-title"><a href="{{ path('product_show', {'product_slug': product.slug }) }}">{{ product.productName }}</a></h5>
                    <div class="product-price-wrap">
                      <div class="product-price">KSh {{ product.price|number_format(2) }}</div>
                    </div>
                  </div>
                  <div class="product-button-wrap">
                    <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="{{ path('product_show', {'product_slug': product.slug }) }}"></a></div>
                    <div class="product-button"><form id="prodForm-{{product.id}}"><input type="hidden" id="quantity_{{product.id}}" value="1"><button style="margin-top: 0px;" name="cartProd_{{product.id}}" id="cartProd_{{product.id}}" class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" type="button"></button></form></div>
                  </div>
                </article>
              </div>
            {% endfor %}

            </div>
            {# <a class="link-classic wow fadeInUp" href="grid-shop.html">More Products</a> #}
          </div>
        </div>
      </section>
      <!-- New Collection-->
      <section class="section section-xxl bg-default text-sm-left bg-image bg-image-8" style="background-image: url({{ asset('site/images/trying-to-decide-on-which-to-buy.jpg') }});">
        <div class="container">
          <div class="row row-30 justify-content-center justify-content-sm-end">
            <div class="col-6"></div>
            <div class="col-sm-6 col-md-6">
              <article class="box-info-beryl">
                <h2 class="box-info-beryl-title wow fadeInRight">Expert Guidance At Your Fingertips</h2>
                <div class="box-info-beryl-time wow fadeInRight" data-wow-delay=".1s">Make an informed purchase</div>
                <p class="box-info-beryl-text box-3 wow fadeInRight" data-wow-delay=".2s" style="color:black;">Not sure which instrument is the perfect fit for you? Our team of passionate music enthusiasts is here to help! Chat with us online or give us a call, and we'll be happy to offer expert advice based on your musical aspirations, skill level, and budget.</p><a class="button button-lg button-primary-2 button-zakaria wow fadeInUp" href="{{path('app_default')}}">Shop Now</a>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Team-->
      {#<section class="section section-xxl bg-default">
        <div class="container">
          <h2 class="title-style-8 wow fadeScale">Our Team</h2>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-style-10 owl-dots-styles-1" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-dots="true" data-mouse-drag="false">
            <article class="team-karen wow slideInUp" data-wow-delay=".1s">
              <div class="team-karen-header"><a class="team-karen-figure" href="#"><img src="{{ asset('site/images/team-18-250x233.jpg') }}" alt="" width="250" height="233"/></a>
                <svg x="0px" y="0px" width="330px" height="245px" viewBox="0 0 330 245" enable-background="new 0 0 330 245">
                  <path d="M305,0v206.855c0,7.26-5.373,13.145-12,13.145H37c-6.627,0-12-5.885-12-13.145V0H0v245h330V0H305z"></path>
                </svg>
              </div>
              <div class="team-karen-body">
                <h4 class="team-karen-name"><a href="#">Milcah Mueni</a></h4>
                <div class="team-karen-status">Co-founder</div>
                <ul class="list-inline team-karen-list-social list-social-2 list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                </ul>
              </div>
            </article>
            <article class="team-karen wow slideInUp">
              <div class="team-karen-header"><a class="team-karen-figure" href="#"><img src="{{ asset('site/images/team-19-250x233.jpg') }}" alt="" width="250" height="233"/></a>
                <svg x="0px" y="0px" width="330px" height="245px" viewBox="0 0 330 245" enable-background="new 0 0 330 245">
                  <path d="M305,0v206.855c0,7.26-5.373,13.145-12,13.145H37c-6.627,0-12-5.885-12-13.145V0H0v245h330V0H305z"></path>
                </svg>
              </div>
              <div class="team-karen-body">
                <h4 class="team-karen-name"><a href="#">Faith Imbali</a></h4>
                <div class="team-karen-status">Co-founder</div>
                <ul class="list-inline team-karen-list-social list-social-2 list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </section>#}

      <!-- Counter Modern-->
      <section class="section parallax-container" data-parallax-img="{#{ asset('site/images/njiani-music-shop-parallax.jpg') }#}">
        <div class="parallax-content section-xxl">
          <div class="container">
            <div class="row row-30 justify-content-center">
              <div class="col-6 col-sm-4">
                <div class="counter-modern">
                  <h2 class="counter-modern-number"><span class="counter">5</span>
                  </h2>
                  <div class="counter-modern-decor"></div>
                  <h5 class="counter-modern-title">Years<br class="d-none d-sm-block"> of Experience</h5>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="counter-modern">
                  <h2 class="counter-modern-number"><span class="counter">9</span>
                  </h2>
                  <div class="counter-modern-decor"></div>
                  <h5 class="counter-modern-title"><a href="#partners">Partners<br class="d-none d-sm-block"> In Kenya</a></h5>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="counter-modern">
                  <h2 class="counter-modern-number"><span class="counter">7</span>
                  </h2>
                  <div class="counter-modern-decor"></div>
                  <h5 class="counter-modern-title">Exclusive<br class="d-none d-sm-block"> Products</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Calls to action-->
      <section class="section section-xl text-md-left bg-image" style="background-image: url({{ asset('site/images/njiani-music-shop-parallax.jpg') }});">
        <div class="container">
          <div class="row row-30 align-items-center justify-content-md-between">
            <div class="col-md-6 col-lg-8">
              <h3 class="text-spacing-100">Order musical instrument and pay on delivery</h3>
              <h6 class="font-weight-light">Not sure which to buy, we are ready to offer expert advise based on your interest and budget..</h6>
            </div>
            <div class="col-md-auto"><a class="button button-lg button-shadow-2 button-primary-2 button-zakaria" href="#products">Shop Now</a></div>
          </div>
        </div>
      </section>

      <!-- What People Say-->
      <section class="section section-xxl bg-default">
        <div class="container">
          <h2 class="title-style-8 wow fadeScale">Customer Reviews</h2>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-style-12 owl-dots-styles-1" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-dots="true" data-autoplay="true">
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">I received my keyboard in time to start my home piano lessons. Faith assisted me in setting it up in our son's room. Good service and customr relation. I highly recommend</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/bitutu.png') }}" alt="bitutu review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/GZnHB2">Mama Allan</a></div>
                </div>
              </div>
            </article>
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">I opted for cash on delivery for peace of mind, and the delivery team was punctual and courteous. The piano was in perfect condition, and the team even included a helpful guide for beginners. I appreciate the attention to detail and the dedication to customer satisfaction.</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/ruth-edward.png') }}" alt="ruth edward review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/nnGJCp">Ruth M.</a></div>
                </div>
              </div>
            </article>
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">I ordered a violin, and the delivery was prompt. The instrument was securely packaged, and the quality exceeded my expectations. Cash on delivery was a big plus for me.</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/carol-freds.png') }}" alt=" carol freds review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/n34gjH">Joel B</a></div>
                </div>
              </div>
            </article>

          </div>
        </div>
      </section>

      <!-- Calls to action-->
      <section class="section section-xl text-md-left bg-image" style="background-image: url({{ asset('site/images/njiani-music-shop-parallax.jpg') }});">
        <div class="container">
          <div class="row row-30 align-items-center justify-content-md-between">
            <div class="col-md-6 col-lg-8">
              <h3 class="text-spacing-100">Order musical instrument and pay on delivery</h3>
              <h6 class="font-weight-light">Not sure which to buy, we are ready to offer expert advise based on your interest and budget..</h6>
            </div>
            <div class="col-md-auto"><a class="button button-lg button-shadow-2 button-primary-2 button-zakaria" href="#products">Shop Now</a></div>
          </div>
        </div>
      </section>

      <!-- Gallery-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <div class="row no-gutters" data-lightgallery="group">
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/njianimusicshop-1.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/njiani-1.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/njianimusicshop-2.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/njiani-2.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/njianimusicshop-3.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/njiani-3.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/njianimusicshop-4.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/njiani-4.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/njianimusicshop-5.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/njiani-5.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/njianimusicshop-6.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/njiani-6.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/njianimusicshop-7.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/njiani-7.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-sm-4 col-lg-3 d-flex align-items-center justify-content-center">
              <div class="box-info-rose-2">
                <p class="box-info-rose-text">Instagram</p><a class="link-classic link-primary" href="#">@njianimusicshop</a>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}

{% block javascripts_bottom %}


<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}", // Replace with your actual controller action route
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>


{% endblock %}