{% extends 'base.html.twig' %}

{% block stylesheets %} {{ leogout_seo() }} 

{% endblock %}
{% block page %}

      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="/site/images/product_display/njiani-backdrop-banner.jpg">
          <div class="breadcrumbs-custom-body parallax-content">
            <div class="container">
              <h1 class="breadcrumbs-custom-title" style="color:white!important">Njiani Musical Instruments Shop</h1>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{path('app_default')}}">Home</a></li>
              <li class="active"><a href="#">Shop</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section Shop-->
      <section class="section section-xxl bg-default text-md-left">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-12 col-xl-12">
              <div class="product-top-panel group-md">
                <p class="product-top-panel-title">Showing 1–{{products|length}} of {{products|length}} results</p>
                <div>
                  <div class="group-sm group-middle">
                    <div class="product-top-panel-sorting">
                      <select data-minimum-results-for-search="Infinity">
                        <option value="1">Sort by newness</option>
                        <option value="2">Sort by popularity</option>
                        <option value="3">Sort by alphabet</option>
                      </select>
                    </div>
                    {# <div class="product-view-toggle"><a class="mdi mdi-apps product-view-link product-view-grid active" href="grid-shop.html"></a><a class="mdi mdi-format-list-bulleted product-view-link product-view-list" href="shop-list.html"></a></div> #}
                  </div>
                </div>
              </div>
              <div class="row row-30 row-lg-50">
              {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4">
                  <!-- Product-->
                  <article class="product">
                    <div class="product-body">
                      <div class="product-figure"><a href="{{path('product_show', {'product_slug': product.slug})}}"><img src="/site/images/products/{{product.images}}" alt="" width="144" height="190"/></a>
                      </div>
                      <h5 class="product-title"><a href="{{path('product_show', {'product_slug': product.slug})}}">{{product.productName}}</a></h5>
                      <div class="product-price-wrap">
                        <div class="product-price product-price-old">KSh {{product.price  * 1.15 }}</div>
                        <div class="product-price">KSh{{product.price }}</div>
                      </div>
                    </div><span class="product-badge product-badge-sale">Sale</span>
                    <div class="product-button-wrap">
                      <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="{{path('product_show', {'product_slug': product.slug})}}"></a></div>
                      <div class="product-button"><form id="prodForm-{{product.id}}"><input type="hidden" id="quantity_{{product.id}}" value="1"><button style="margin-top: 0px;" name="cartProd_{{product.id}}" id="cartProd_{{product.id}}" class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" type="button"></button></form></div>                  
                    </div>
                  </article>
                </div>
              {% endfor %}
              </div>
              {# <div class="pagination-wrap">
                <!-- Bootstrap Pagination-->
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item page-item-control disabled"><a class="page-link" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
                    <li class="page-item active"><span class="page-link">1</span></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
                  </ul>
                </nav>
              </div> #}
            </div>
          </div>
        </div>
      </section>


{% endblock %}

{% block javascripts_bottom %}

<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}", // Replace with your actual controller action route
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

{% endblock %}