{% extends 'base.html.twig' %}

{% block stylesheets %} 
    {{ leogout_seo() }} 
    <style>
        .borderless-button{
            border: none;
            background-color: #fff;
        }
        h2 {
          font-size: 1.4em;
          text-transform: capitalize;
          margin-top: 15px;
        }
        ul, li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 1.2em;
            text-transform: capitalize;
            margin-top:15px;
        }
        p {
            font-size:18px;
        }

    </style>
{% endblock %}
{% block page %}

      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="/site/images/njiani-backdrop-banner.jpg">
          <div class="breadcrumbs-custom-body parallax-content">
            <div class="container">
              <h1 class="breadcrumbs-custom-title" style="font-size:36px;text-transform:capitalize;">{{ blogPost.title }}</h1>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{ path('app_default') }}">Home</a></li>
              <li><a href="{{ path('app_blog') }}">Blog</a></li>
              <li class="active">Blog Post</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section Shop-->
      <section class="section section-xl bg-default text-md-left">
        <div class="container">
          <div class="row row-50 row-md-60">
            <div class="col-lg-8 col-xl-9">
              <div class="inset-xl-right-100">
                <div class="row row-50 row-md-60 row-lg-80">
                  <div class="col-12">
                    <article class="post post-modern box-xxl">
                      <div class="post-modern-panel">
                        <div><a class="post-modern-tag" href="#">{% for blogCategory in blogPost.blogCategories %} {{ blogCategory.categoryName }} {% endfor %}</a></div>
                        <div>
                          <time class="post-modern-time" datetime="2019-09-08">{{ blogPost.publicationDate|date("jS M Y")}}</time>
                        </div>
                      </div>
                      <div class="post-modern-figure"><img src="/site/images/blog/{{ blogPost.featuredImage }}" alt="" width="800" height="394"/>
                      </div>
                      {{ blogPost.content|raw }}
                    </article>
                    <div class="single-post-bottom-panel">
                      <div class="group-sm group-justify">
                        <div>
                          <div class="group-sm group-tags"><a class="link-tag" href="#">News</a><a class="link-tag" href="#">Tips</a><a class="link-tag" href="#">Perfumes</a></div>
                        </div>
                        <div>
                          <div class="group-xs group-middle"><span class="list-social-title">Share</span>
                            <div>
                              <ul class="list-inline list-social list-inline-sm">
                                <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <h6 class="single-post-title">Featured Posts</h6>
                    <div class="row row-30">
                    {% for post in blogPosts|filter(blogPost => blogPost.isFeatured == true) %}
                      <div class="col-sm-6">
                        <!-- Post Classic-->
                        <article class="post post-classic box-md"><a class="post-classic-figure" href="{{ path('blog_show', {'blog_slug': post.slug}) }}"><img src="/site/images/blog/{{post.featuredImage}}" alt="" width="370" height="239"/></a>
                          <div class="post-classic-content">
                            <div class="post-classic-time">
                              <time datetime="2019-09-08">{{ post.publicationDate|date("jS M Y")}}</time>
                            </div>
                            <h5 class="post-classic-title"><a href="{{ path('blog_show', {'blog_slug': post.slug}) }}">{{ post.title }}</a></h5>
                            <p class="post-classic-text">{{ post.metaDescription }}</p>
                          </div>
                        </article>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                  <div class="col-12">
                    <h6 class="single-post-title">3 Comments</h6>
                        {% if is_granted('ROLE_USER') %}
                        <form action="{{ path('post_comment') }}" method="post">
                            <div class="col-12">
                            <div class="form-wrap">
                                <label class="form-label" for="comment">Comment</label>
                                <textarea class="form-input textarea-lg" id="comment" name="comment" data-constraints="@Required"></textarea>
                                <input type="hidden" name="blog_id" value="{{blogPost.id}}">
                                <button class="button button-sm button-primary-2 button-zakaria" type="submit">Send Comment</button>
                            </div>
                            </div>
                        </form>
                        {% else %}
                        <p>Please log in to comment</p>
                        {% endif %}


                    {% for comment in commentsArray %}

                    <div class="box-comment">
                      <div class="unit flex-column flex-sm-row unit-spacing-md">
                        <div class="unit-left"><a class="box-comment-figure" href="#"><img src="/site/images/profile_pictures/{{comment.user.profilePicture}}" alt="" width="119" height="119"/></a></div>
                        <div class="unit-body">
                          <div class="group-sm group-justify">
                            <div>
                              <div class="group-xs group-middle">
                                <h5 class="box-comment-author"><a href="#">{{ comment.user.firstName }}</a></h5>
                                <p><button type="button" id="show_edit_comment_form_{{comment.id}}" class="borderless-button box-comment-reply">EDIT</button></p>
                                <form action="{{ path('delete_comment', {'comment_id': comment.id }) }}" method="post"><input type="hidden" name="comment_id" value="{{comment.id}}"><button type="submit" class="borderless-button box-comment-reply" href="#">Delete</button></form>
                              </div>
                            </div>
                            <div class="box-comment-time">
                              <time datetime="2019-08-30">{{ comment.commentDate|date('Y-m-d H:i:s') }}</time>
                            </div>
                          </div>
                          <p class="box-comment-text">{{ comment.content }}</p>
                          <form id="edit_comment_form_{{comment.id}}" action="{{ path('edit_comment', {'comment_id': comment.id }) }}" method="post" style="display:none;"><textarea class="form-input" name="comment">{{comment.content}}</textarea><input type="hidden" name="comment_id" value="{{comment.id}}"><button type="submit" class="btn btn-info btn-sm" href="#">UPDATE</button></form>
                        </div>
                      </div>
                      {% if is_granted('ROLE_USER') %}
                      <form action="{{ path('comment_reply') }}" method="post">
                        <div class="col-12">
                          <div class="form-wrap">
                            <label class="form-label" for="reply_to_{{comment.id}}">Reply</label>
                            <textarea class="form-input textarea-lg" id="reply_to_{{comment.id}}" name="reply" data-constraints="@Required"></textarea>
                            <input type="hidden" name="comment_id" value="{{comment.id}}">                            
                            <button class="button button-sm button-primary-2 button-zakaria" type="submit">Send Reply</button>
                          </div>
                        </div>
                      </form>
                      {% else %}
                        <p>Please log in to reply</p>
                      {% endif %}

                      {% for reply in comment.commentReplies %}
                      <div class="box-comment">
                        <div class="unit flex-column flex-sm-row unit-spacing-md">
                          <div class="unit-left"><a class="box-comment-figure" href="#"><img src="/site/images/profile_pictures/{{reply.user.profilePicture}}" alt="" width="119" height="119"/></a></div>
                          <div class="unit-body">
                            <div class="group-sm group-justify">
                              <div>
                                <div class="group-xs group-middle">
                                  <h5 class="box-comment-author"><a href="#">{{ reply.user.firstName }}</a></h5>
                                    <p><button type="button" id="show_edit_reply_form_{{reply.id}}" class="borderless-button box-comment-reply">EDIT</button></p>
                                    <form action="{{ path('delete_reply', {'reply_id': reply.id}) }}" method="post"><input type="hidden" name="reply_id" value="{{reply.id}}"><button type="submit" class="borderless-button box-comment-reply" href="#">Delete</button></form>
                                </div>
                              </div>
                              <div class="box-comment-time">
                                <time datetime="2019-08-30">{{ reply.repliedOn|date('Y-m-d H:i:s') }}</time>
                              </div>
                            </div>
                            <p class="box-comment-text">{{ reply.content }}</p>
                            <form id="edit_reply_form_{{reply.id}}" action="{{ path('edit_reply', {'reply_id': reply.id}) }}" method="post" style="display:none;"><textarea class="form-input" name="reply">{{reply.content}}</textarea><input type="hidden" name="reply_id" value="{{reply.id}}"><button type="submit" class="borderless-button box-comment-reply" href="#">Edit</button></form>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                    </div>

                    
                    {% endfor %}
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-3">
              <div class="aside row row-30 row-md-50 justify-content-md-between">
                <div class="aside-item col-12">
                  <div class="team-info box-sm"><a class="team-info-figure" href="#"><img src="/site/images/profile_pictures/{{blogPost.author.profilePicture}}" alt="" width="123" height="123"/></a>
                    <h6 class="team-info-title"><a href="#">{{blogPost.author}}</a></h6>
                    <p class="team-info-text">I am the leading editor and blogger at Njiani Music Shop website.</p>
                  </div>
                  <!-- RD Search Form-->
                  {# <form class="rd-search form-search" action="search-results.html" method="GET">
                    <div class="form-wrap">
                      <label class="form-label" for="search-form">Search...</label>
                      <input class="form-input" id="search-form" type="text" name="s" autocomplete="off">
                      <button class="button-search fl-bigmug-line-search74" type="submit"></button>
                    </div>
                  </form> #}
                </div>
                <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                  <h6 class="aside-title">Categories</h6>
                  <ul class="list-categories">
                  {% for category in categoriesWithCounts %}
                    <li><a href="{{ path('app_blog', {'category': category.id}) }}">{{category.category_name}}</a><span class="list-categories-number">({{category.blogCount}})</span></li>
                  {% endfor %}
                  </ul>
                </div>
                <div class="aside-item col-sm-6 col-lg-12">
                  <h6 class="aside-title">Latest Posts</h6>
                  <div class="row row-20 row-lg-30 gutters-10">
                  {% for post in latestBlogPosts %}
                    <div class="col-6 col-lg-12">
                      <!-- Post Minimal-->
                      <article class="post post-minimal">
                        <div class="unit unit-spacing-sm flex-column flex-lg-row align-items-lg-center">
                          <div class="unit-left"><a class="post-minimal-figure" href="{{ path('blog_show', {'blog_slug': post.slug }) }}"><img src="/site/images/blog/{{post.featuredImage}}" alt="" width="318" height="312"/></a></div>
                          <div class="unit-body">
                            <p class="post-minimal-title"><a href="{{ path('blog_show', {'blog_slug': post.slug }) }}">{{post.title}}</a></p>
                            <div class="post-minimal-time">
                              <time datetime="2019-03-15">{{post.publicationDate|date("jS M Y")}}</time>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  {% endfor %}
                  </div>
                </div>
                <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                  <h6 class="aside-title">Tags</h6>
                  <div class="group-sm group-tags">
                    {% for tag in blogPost.tags %} 
                        <a class="link-tag" href="#">{{tag.tagName}}</a>
                    {% endfor %}
                </div>
                </div>
                {# <div class="aside-item col-sm-6 col-lg-12">
                  <h6 class="aside-title">Archive</h6>
                  <ul class="list-marked list-archives d-inline-block d-md-block">
                    <li><a href="#">March 2019</a></li>
                    <li><a href="#">February 2019</a></li>
                    <li><a href="#">January 2019</a></li>
                    <li><a href="#">December 2019</a></li>
                  </ul>
                </div> #}
              </div>
            </div>
          </div>
        </div>
      </section>



{% endblock %}

{% block javascripts %}

<script>

    // Wait for the document to be fully loaded
    document.addEventListener("DOMContentLoaded", function () {
        // Loop through all comment elements and add click event listeners
        var commentElements = document.querySelectorAll("[id^='show_edit_comment_form_']");

        commentElements.forEach(function (showEditButton) {
            // Extract comment ID from button ID
            var commentId = showEditButton.id.split("_").pop();

            // Get the corresponding form and add an event listener
            var editCommentForm = document.getElementById("edit_comment_form_" + commentId);

            showEditButton.addEventListener("click", function () {
                // Toggle the visibility of the form
                if (editCommentForm.style.display === "none") {
                    editCommentForm.style.display = "block";
                } else {
                    editCommentForm.style.display = "none";
                }
            });
        });
    });
    
    // Wait for the document to be fully loaded
    document.addEventListener("DOMContentLoaded", function () {
        // Loop through all reply elements and add click event listeners
        var replyElements = document.querySelectorAll("[id^='show_edit_reply_form_']");

        replyElements.forEach(function (showEditButton) {
            // Extract reply ID from button ID
            var replyId = showEditButton.id.split("_").pop();

            // Get the corresponding form and add an event listener
            var editreplyForm = document.getElementById("edit_reply_form_" + replyId);

            showEditButton.addEventListener("click", function () {
                // Toggle the visibility of the form
                if (editreplyForm.style.display === "none") {
                    editreplyForm.style.display = "block";
                } else {
                    editreplyForm.style.display = "none";
                }
            });
        });
    });

</script>


{% endblock %}