{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, Admin</h1>
      <p class="lead">There is a new message from the contact form.</p>
      <p>The sender is called {{name}}. Email: {{emailAd}} </p>
      <p>Message: {{message}} </p>
      <callout class="primary">
        <p>Please read and respond</p>
      </callout>

    </columns>
  </row>

{% endblock %}