{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{name}}</h1>
      <p class="lead">We have received your message and we will get back to you as soon as possible.</p>
      <p>You can call us on working days during working hours on +254 795 168375. </p>
      <p>Thank you for choosing Njiani Music Shop. </p>
      <callout class="primary">
        <p>You can <a href="{{url('app_register')}}">create your account now to be eligible for discounts..</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}