{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, Admin</h1>
      <p class="lead">There is a new order from the website.</p>
      <p>The buyer is called {{name}}. Email: {{emailAd}} </p>
      <p>Message: {{message}} </p>
      <callout class="primary">
        <p>Please act on the order</p>
      </callout>

    </columns>
  </row>

{% endblock %}